region = "eu-west-1" ## a valid AWS region

az_1 = "a" ## 1st availability zone

org = "" ## identifier for the organisation
env = "" ## identifier for the environment

private_access_ips = "" ## list of IP addresses/ranges, using the format 0.0.0.0/32 (multiple IP addresses/ranges separated by commas)
