region = "us-east-1" ## a valid AWS region
services_ami = "ami-d651b8ac" ## an AWS ami, making sure its valid in the AWS region specified

az_1 = "a" ## 1st availability zone

client = "" ## identifier for the client
tag = "" ## identifier for the project

private_access_ips = "" ## list of IP addresses/ranges, using the format 0.0.0.0/32 (multiple IP addresses/ranges separated by commas)
